* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.answerList {
  list-style-type: none;
}

.answer {
  margin: 20px;
  font-size: 25px;
  border: 2px solid #333;
  border-radius: 10px;
}

.label {
  margin: 10px;
}

.input {
  appearance: none;
  margin: 0;
  display: inline;
}

input[type='radio']:checked ~ label {
  color: blue;
}

.accordion-button {
  font-size: 25px;
}

.accordion {
  transition: ease-in;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: inset 0 0 0 rgb(0, 0, 0);
}

/* Hide default accordion arrow image */
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: url('');
}

/* Margin to prevent accordion covering list item border  */
.accordion-item {
  border-radius: 10px;
  margin: 1px;
}
