.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.answerList {
  list-style-type: none;
}

.answer {
  margin: 20px;
  font-size: 25px;
  border: 2px solid #333;
  border-radius: 10px;
}

.label {
  margin: 10px;
  width: 100%;
  height: 100%;
}

.input {
  /* display: none; */
  appearance: none;
  margin: 0;
  display: inline;
}

input[type='radio']:checked ~ label {
  color: blue;
}
