{{! EVERY TIME YOU CHANGE SOMETHING RUN THIS COMMAND IN VIEWS FOLDER:
 handlebars start.handlebars -f start.precompiled.js
}}

<header><h1>START PAGE HEADER HERE</h1></header>
<a id="nextQuestionButton" href="?page=quiz&question=0">Start Quiz</a>